/* Import Fonts */

/* Make some variables for colors as will be using them alot */

/* Basic body and html styling 
    width:
    background color: */

/* Styling for calculator class 
    width:
    height:
    background color:
    margin:
    border radius: */

/* Styling for specific buttons & tall ones
    height:
    float:
    margin:
    */